<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" th:href="@{/css/index.css}">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="container main-nav" >
            <img src="" alt="">
            <div class="nav-links ">
                <ul class="flex">
                    <li><a href="#" class="hover-link">Home</a></li>
                    <li><a href="#" class="hover-link">About Us</a></li>
                    <li><a href="#" class="hover-link">Courses</a></li>
                    <li><a href="/login" class="hover-link secondry-button">Sing In </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header>
        <div class="container header-section flex">
            <div class="header-left">
                <h1>Learn Without Limits</h1>
                <p>Course designed to help you reach your goals.  
                      Build Skills With Courses </p>
                <a href="/register" class="primary-button">Sign Up</a>

             </div> 
             <div class="header-right">
                <img src="css/image/5216292.jpg" alt="">
             </div>
        </div>
    </header>
</body>
</html>