<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>My Courses</title>
<link rel="stylesheet" th:href="@{css/myCourses.css}">
</head>
<body>
    <nav>
        <div class=" main-nav flex">
                <img  src="css/image/logo1.png" alt="campany logo">
              
<div class="nav-links">
    <ul class="flex">
                <li><a href="index" class="hover-link secondry-button">HOME</a></li>

            </ul>
        </div>
    </nav>
    
<table class="table" border="solid black 1px">
  <thead>
    <tr>
      <th scope="col">Course Id</th>
      <th scope="col">Course Name</th>
      <th scope="col">Course Price</th>
      <th scope="col">Lessons</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="course:${courseList}">
      <td th:text="${course.courseId}"></td>
      <td th:text="${course.courseName}"></td>
      <td th:text="${course.coursePrice}"></td>
      <td>
        <span th:each="lesson, lessonStat : ${course.lessonList}">
		    <a th:href="@{/viewLesson(lessonId=${lesson.lessonId})}" th:text="${lesson.lessonName}"></a>
		    <span th:if="${!lessonStat.last}">, </span>
		</span>


      </td>
    </tr>
  </tbody>
</table>
		
</body>
</html>